.containerMenu{
   position: fixed;
   background-color: rgba(146, 142, 142, 0.692);
}

.contentOptionMenu{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.labelMenu{
    color: rgb(32, 32, 32);
    font-weight: bold;
}

.labelMenu:hover{
    color: #e26811;
    cursor: pointer;
}